* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-image: radial-gradient(
    circle,
    #f1c40f,
    #c1c31b,
    #92bf33,
    #62b84a,
    #27ae60
  );
  height: 100vh;
  overflow: hidden;
  text-align: center;
}
.snakeBase {
  height: 800px;
  width: 800px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto 0;
}

.score {
  font-size: 5rem;
  text-shadow: 0 0 5px #ff7979;
  user-select: none;
  color: #c0392b;
}

#gameCanvas {
  border: 3px solid #000;
  margin-top: 50px;
  background-color: antiquewhite;
  display: block;
  box-shadow: 0 0 15px #000;
}
a {
  text-decoration: none;
  color: #dff9fb;
  margin: 20px auto;
}
